<?xml version="1.0"?>
<model>
  <name>Prius Vehicle</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Offroad Gazebo Integration</name>
    <email>support@ottopia.tech</email>
  </author>

  <description>
    Prius-inspired Gazebo Sim vehicle using the local Prius drive system and
    the local car_demo reference meshes.
  </description>
</model>
